@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import "tailwindcss";

:root {
    font-family: 'JetBrains Mono', monospace;
    color: #e3e2e3;
    background: #121315;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
    margin: 0;
}

body {
    min-width: 320px;
}